<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li><a asp-controller="Home" asp-action="Laptops">Laptops</a></li>
                <li><a asp-controller="Home" asp-action="SmartPhone">Điện thoại</a></li>
                <li><a href="#">Phụ kiện</a></li>
                <li><a href="#">Thương hiệu</a></li>
                <li><a href="#">Khuyến mãi</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>