@model IEnumerable<EShop.Models.Product>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model.Take(5))
    {
        <div class="product">
            <div class="product-img" style="height:200px; width:263px;">
                <img style="height:180px" src="~/images/products/@item.ThumbImg" alt="@item.Title">
                @*<div class="product-label">
                    <span class="sale">-30%</span>
                    <span class="new">NEW</span>
                </div>*@
            </div>
            <div class="product-body">
                <p class="product-category">@item.Cate.CategoryName</p>
                <h3 class="product-name"><a href="#">@item.ProductName</a></h3>
                <h4 class="product-price">@item.Price.Value.ToString("#,##0") VNĐ</h4>
                <div class="product-rating">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                </div>
                <div class="product-btns">
                    <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">add to wishlist</span></button>
                    <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">add to compare</span></button>
                    <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">quick view</span></button>
                </div>
            </div>
            <div class="add-to-cart">
                <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> add to cart</button>
            </div>
        </div>
    }
}
