@model EShop.Models.Customer

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div style="margin-top:10%; margin-left:10%;">
    <h1>Edit</h1>

    <h4>Customer</h4>
    <hr />
    <div class="row">
        <div class="col-md-9" style="background: #cce6e7">
            <form asp-action="Edit" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="CustommerId" />
                <input type="hidden" asp-for="Username" />
                <div class="row">
                    <div class="form-group col-md-6">
                        <label asp-for="FullName" class="control-label"></label>
                        <input asp-for="FullName" class="form-control" />
                        <span asp-validation-for="FullName" class="text-danger"></span>
                    </div>
                    <div class="form-group col-md-6">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="Avatar" class="control-label"></label>
                    <input type="file" name="fAvatar" asp-for="Avatar" class="form-control-file" />
                    <span asp-validation-for="Avatar" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="BirthDay" class="control-label"></label>
                    <input asp-for="BirthDay" class="form-control" />
                    <span asp-validation-for="BirthDay" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mail" class="control-label"></label>
                    <input asp-for="Mail" class="form-control" />
                    <span asp-validation-for="Mail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Phone" class="control-label"></label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="LocationId" class="control-label">Tỉnh/Thành phố</label>
                    <select asp-for="LocationId" class="form-control" asp-items="ViewBag.LocationId"></select>
                    <span asp-validation-for="LocationId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="District" class="control-label"></label>
                    <input asp-for="District" class="form-control" />
                    <span asp-validation-for="District" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Ward" class="control-label"></label>
                    <input asp-for="Ward" class="form-control" />
                    <span asp-validation-for="Ward" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    @if (Model.IsActived)
                    {
                        <div class="switch m-r-10">
                            <input type="checkbox" asp-for="IsActived" checked="" />
                            <label for="IsActived"></label>
                        </div>
                    }
                    else
                    {
                        <div class="switch m-r-10">
                            <input type="checkbox" asp-for="IsActived" />
                            <label for="IsActived"></label>
                        </div>
                    }
                    <label>Actived</label>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" style="margin-right:10px;"/>
                    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
                </div>
            </form>
        </div>
    </div>
</div>
